/*Сброс стилей (минимальный и чаще всего достаточный)*/
/*
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/

/*Сброс стилей (полный)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

/*Подключение шрифтов*/
/* Способ 1: Google Fonts */
/*
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); 
*/

/* Способ 2: Загрузка и импорт */
@font-face {
    font-family: "Esqadero";
    src: url('../fonts/EsqaderoFFCY4F.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Acrom";
    src: url('../fonts/Acrom-Regular.woff') format('woff');
    font-display: swap;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    padding: 20px;
}

ol, ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    line-height: 1;
    font-family: "Acrom", system-ui, sans-serif;
    font-size: 0.9em;
}

button {
    font-family: "Acrom", system-ui, sans-serif;
    padding: 10px 20px;
    border: none;
}

h2 {
    font-family: "Esqadero", system-ui, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(42, 37, 75);
}

h3 {
    font-family: "Acrom", system-ui, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(42, 37, 75);
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    transform: scale(1.03);
}

footer a, footer p {
    color: white;
}

nav a {
    color: rgb(78, 77, 147);
}

p {
    color: rgb(78, 77, 147);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex_column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.flex_space_between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex_space_around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex_space_evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex_justify_center {
    display: flex;
    justify-content: center;
}

.grid_align_center {
    display: grid;
    align-items: center;
}

.grid_justify_end {
    display: grid;
    justify-self: end;
}

.grid_align_stretch {
    display: grid;
    align-items: stretch;
}

.grid_justify_center {
    display: grid;
    justify-items: center;
}

.text_align_center {
    text-align: center;
}

.bg_dark_primary {
    background-color: rgb(42, 37, 75);
}

.bg_primary {
    background-color: rgb(78, 77, 147);
}

.text_dark_primary {
    color: rgb(42, 37, 75);
}

.text_primary {
    color: rgb(78, 77, 147);
}

.text_white {
    color: white;
}

.hover-grow:hover {
    transform: scale(1.02);
}

.active-scale:active {
    transform: scale(0.98);
}

.padding_20 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.content_down {
    margin-top: auto;
}

.margin_15_top_buttom {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*.space_around {
    display: flex;
    align-items: center;
}*/

.info_card {
    width: 170px;
    height: 150px;
}

.product_card p {
    color: rgb(42, 37, 75);
    padding-top: 5px;
    padding-bottom: 5px;
}

.product_card_2 p {
    color: rgb(42, 37, 75);
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    
}

.grid_1_auto {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0;
}

.grid_2r_2c {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto;
}

/* Десктоп (большие экраны) */
@media (min-width: 1024px) {
    .grid_2_1 {
        grid-template-columns: 2fr 1fr 1fr;
    }
}

/* Планшет (средние экраны) */
@media (max-width: 1024px) and (min-width: 641px) {
    .grid_2_1 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid_2_1 > div:first-child {
        grid-column: 1 / -1; /* Большая картинка на всю ширину */
    }
}

/* Мобильные (маленькие экраны) */
@media (max-width: 640px) {
    .grid_1_auto {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .grid_2_1 {
        grid-template-columns: 1fr;
    }
    .grid_1_1 {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 15px;
    }
    img {
        max-width: 100%;
    }
    .grid_justify_end {
        justify-self: center;
        justify-items: center;
        width: 100%;
    }
}

.adaptive img{
    max-width: 100%;
    height: auto;
}

.span_2 {
    grid-column: span 2;
}